<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--
<div class="example-container">

</div> -->
<!-- <div class="bg"></div> -->
<div class = "bg" >
<mat-card class="example-card"  >


  <mat-tab-group mat-align-tabs="center">
    <br>
    <mat-tab label="Login" style="width: 10px;">


<br><br><br>
  <mat-card-content style="text-align: center;" >



    <!-- <mat-spinner *ngIf="spin" [ngStyle]="{ 'position': 'absolute','margin-left': '135px','display':'block'}"></mat-spinner> -->
    <mat-form-field appearance="fill" style="width:235px;">
      <mat-label>Enter your email</mat-label>
      <input name="email" [(ngModel)]="login.email"  matInput [formControl]="email" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>





    <br>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input name="passwird" [(ngModel)]="login.password" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <br>
    <!-- <mat-spinner *ngIf="spin" [ngStyle]="{ 'position': 'absolute','margin-left': '50px','display':'block'}"></mat-spinner> -->

    <button mat-raised-button  (click)="log()" color="primary">Login</button>

    <br><br>   <br>


    <button mat-button (click)="news()">News</button>
    <button mat-button (click)="dict()">Dictionary</button>
    <button mat-button (click)="movie()">Movie Info</button>

    <button mat-button (click)="covidTrack()">Covid Tracker</button>
    <br><br>
  </mat-card-content>
    </mat-tab>

    <!-- Sign Up -->
    <mat-tab label="Register" (click)="switch()" style="width: 10px;">


<br>
<mat-card-content style="text-align: center;">

  <form action="" method="POST" role="form">
  <mat-form-field appearance="fill" style="width:235px;">
    <mat-label>Full Name</mat-label>


    <input  type = "text" ng-pattern-restrict="^[A-Za-z0-9]*$" [(ngModel)]="signup.name" name = "name"  matInput  [formControl]="name" required>

  </mat-form-field>
  <!-- <mat-spinner *ngIf="upspin" [ngStyle]="{ 'position': 'absolute','margin-left': '135px','display':'block'}"></mat-spinner> -->
  <mat-form-field appearance="fill" style="width:235px;">
    <mat-label>Enter your email</mat-label>
    <input [(ngModel)]="signup.email" name = "email"   matInput  [formControl]="email" required>
    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
  </mat-form-field>


  <br>

  <mat-form-field appearance="fill">
    <mat-label>Enter your Password</mat-label>
    <input   [(ngModel)]="signup.pass" name = "pass"  matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Confirm your password</mat-label>
    <input [(ngModel)]="signup.conpass" name = "conpass"  matInput [type]="chide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="chide = !chide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="chide">
      <mat-icon>{{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <button type = "submit" mat-raised-button color="primary" (click)="old()" >Register</button>
  </form>
</mat-card-content>

    </mat-tab>


  </mat-tab-group>


    <!-- <mat-card-title style="text-align: center;" >Login Here</mat-card-title> -->

    <ngx-loading [show]="spin" [config]="{ backdropBorderRadius: '5px' }" ></ngx-loading>


    <ngx-loading [show]="upspin" [config]="{ backdropBorderRadius: '5px' }" ></ngx-loading>




</mat-card>





<br><br>

</div>


<!-- <ngx-loading [show]="spin" [config]="{
  backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '60px' }" ></ngx-loading> -->

<!-- <button (click)="ss()" type="button" class="btn btn-default">button</button> -->
