
body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/1670636/pexels-photo-1670636.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  /* Half height */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



















.CC{
  color: red;
  /* background-color: aquamarine; */
  /* background-image: url('https://www.pexels.com/photo/background-blur-clean-clear-531880/'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}


/* Email Input Box */
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
/* Button */
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

/*  */
.example-card {
  /* margin-left: 450px;
  margin-top: 150px;

  background-color: burlywood;
  text-align: center; */

  width: 400px;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  background-color: lightgray;
  /* background-color: aquamarine; */
  /* background-image: url('https://www.pexels.com/photo/background-blur-clean-clear-531880/'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;



}

/* Tab */
.mat-tab-group {
  margin-bottom: 48px;
}
.mat-snack-bar-container {
  margin-top: 50px !important;
 }



.loadWrapper {
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 99999;
}
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3d3e3f; /* gray */
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
