.con{

  background-image: url('https://www.pexels.com/photo/background-blur-clean-clear-531880/');
  background-repeat: no-repeat;
  background-attachment: fixed;


  margin-top: 20px;
  background-color: whitesmoke;
  max-width: 100%;
  border-style: solid;
border-width: 10px;
 border-color: white;

  }


.example-form-field {
  width: 200px;
}
