<app-practise-home></app-practise-home>

<ng-container *ngIf=" !showChangePass && !showEditProfile" >

  <br><br><br><br>

  </ng-container >
<div class="container" style=" margin:auto;
display:block;">
<br>
  <button style=" margin:auto;
  display:block;" (click)="editProfile()" mat-raised-button color="primary">Edit Profile
<mat-icon aria-hidden="false" aria-label="Example home icon">create</mat-icon>
</button>

<br>

  <button style=" margin:auto;

  display:block;" (click)="changePass()" mat-raised-button color="primary">Change Password
<mat-icon aria-hidden="false" aria-label="Example home icon">vpn_key</mat-icon>
</button>

</div>

<ng-container *ngIf=" !showChangePass && !showEditProfile" >

<br><br><br>

</ng-container >


<ng-container *ngIf="showEditProfile">

  <app-edit-profile></app-edit-profile>
</ng-container>

<ng-container *ngIf="showChangePass">

  <app-change-pass ></app-change-pass>

</ng-container >

<app-practise-footer></app-practise-footer>
