
.con{
  margin-top: 20px;
  background-color: whitesmoke;
  max-width: 100%;
  border-style: solid;
border-width: 10px;
 border-color: white;

  }
/* .my-pagination /deep/ .ngx-pagination .current{

} */






  .example-form {
    /* min-width: 150px;
    max-width: 500px; */
    width: 30%;
    margin-right: 10px;

  }

  .example-full-width {
    width: 30%;
    margin-right: 10px;
  }


  .mat-tab-group {
    margin-bottom: 48px;
  }


.example-form {
  margin-left: 5%;
  width:  90%;
height: 100%;





}

.example-full-width {
  width:  100%;
  height: 100%;
}

/* MObile */
@media screen and (min-width:200px) and (max-width:550px)
 {
   .deskBtn{
    visibility: hidden; display: none;
   }
 }


/* Tablet */
/* @media(min-width: 600px){ */
  @media screen and (min-width:551px) and (max-width:999px) {

    .deskBtn{
      visibility: hidden; display: none;
     }

  }


 /* Desktop */
/* @media(min-width: 1000px){ */
  @media screen and (min-width:1000px) and (max-width:1999px) {
    .mobBtn{
      visibility: hidden; display: none;
     }
  }
