.con{
  /* background-color: white; */
  max-width: 100%;
  border-style: solid;
border-width: 10px;
 border-color: white;
  }
  mat-grid-tile {
    background: white;
  }
  .H{
    background-color: black;
  }

  a :hover{
    /* background-color: red;
    color: red; */
  }
  i :hover{

    /* color: rgb(252, 215, 215); */
  }

  .fa{
    color:green
  }
  fa fa-phone :hover{
    color: red;
  }
  .con a :hover{
    color: red;

  }
  a{
    text-decoration: none;
  }
.hh a :hover{
  color: red;
}


