<div class="con">

<div class="nav-bar-desk">
  <mat-toolbar style="background-color: black; color: white;">
    <button mat-icon-button  (click)="goHome()" class="example-icon" >
      <!-- <mat-icon aria-hidden="false"  aria-label="Example home icon">home</mat-icon> -->
      <img src="favicon (1).ico" width="50%">  <span style="font-weight: 600;font-size: medium;">akesh.online</span>
    </button>

    <span class="example-spacer"></span>




    <button mat-button  (click)="goHome()" class="example-icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home
    </button>
    <button mat-button  (click)="goSettings()" class="example-icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
      Settings
    </button>
    <button mat-button  (click)="goProfile()" class="example-icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
      Profile
    </button>
    <button mat-button (click)="logout()" class="example-icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
      Logout
    </button>




  </mat-toolbar>
</div>

<div class="nav-bar-mob">
  <mat-toolbar style="background-color: black; color: white;" >
    <button  (click)="goHome()"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <img src="favicon (1).ico" width="50%">  <span style="font-weight: 600;font-size: medium;">akesh.online</span>
    </button>

    <span class="example-spacer"></span>




    <button mat-button (click)="show()" >
      <mat-icon aria-hidden="false"  aria-label="Example home icon">menu</mat-icon>

    </button>
<mat-menu #menu="matMenu" >

</mat-menu>



  </mat-toolbar>


  <mat-list role="list" *ngIf=show_nav >
    <div style="background-color: white; color: white;" > <br></div>
    <mat-list-item role="listitem" >
      <button (click)="goHome()" mat-button style="text-align: center; width: 100%; color:white">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>   Home
      </button>
    </mat-list-item>
    <mat-list-item role="listitem" >
      <button mat-button   (click)="goProfile()" style="text-align: center; width: 100%; color:white;">
        <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>   Profile
      </button>
    </mat-list-item>

    <mat-list-item role="listitem" >
      <button   (click)="goSettings()" mat-button style="text-align: center; width: 100%; color:white;">
        <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>      Settings
      </button>
    </mat-list-item>

    <mat-list-item role="listitem" >
      <button mat-button style="text-align: center; width: 100%; color:white;" (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>  Logout
      </button>
    </mat-list-item>

  </mat-list>





</div>

</div>
