.con{

  background-image: url('https://www.pexels.com/photo/background-blur-clean-clear-531880/');
  background-repeat: no-repeat;
  background-attachment: fixed;


  margin-top: 20px;
  /* background-color: whitesmoke; */
  max-width: 100%;
  border-style: solid;
border-width: 10px;
 border-color: white;

  }
  mat-grid-tile {
    /* background: lightblue; */

  }


/* Mobile */
@media screen and (min-width:200px) and (max-width:550px)
 {
  .mob{

    visibility: visible;
  }
  .desk{
    display: none;
    visibility: hidden;
  }
  .tab{
    display: none;
    visibility: hidden;
  }

 }

 /* Tablet */
/* @media(min-width: 600px){ */
  @media screen and (min-width:551px) and (max-width:999px) {
    .mob{

      display: none;
      visibility: hidden;
    }
    .desk{
      display: none;
      visibility: hidden;
    }
    .tab{

      visibility: visible;
    }
  }

  /* Desktop */
/* @media(min-width: 1000px){ */
  @media screen and (min-width:1000px) and (max-width:1999px) {

    .desk{

      visibility: visible;
    }
    .mob{
      display: none;
      visibility: hidden;
    }
    .tab{
      display: none;
      visibility: hidden;
    }
  }
