<app-practise-home></app-practise-home>

<div class="con">



<div class="desk">





  <div style="margin-left: 40px;" class="example-button-row">

    <mat-form-field class="example-form-field">
      <mat-label>Movie Name </mat-label>

      <input matInput type="text" [(ngModel)]="word">
      <button mat-button *ngIf="word" matSuffix mat-icon-button aria-label="Clear" (click)="word=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
&nbsp;&nbsp;&nbsp;
    <button mat-flat-button color="primary" (click)="getMovieList()">Search</button>

</div>


<ng-container *ngIf="emp">
  <br><br><br><br><br><br><br><br><br>
    <h3 style="text-align: center; font-weight: 800; color: red;">No Movies Found </h3>
    <br><br><br><br><br><br>
  </ng-container>


<ng-container *ngIf="Dlist">
  <mat-grid-list cols="3" rowHeight="3:4.5">
   <ng-container *ngFor="let i of MovieList">
     <mat-grid-tile>
       <mat-card>
      <h3>
       <img src = {{i.Poster}} style="width: 100%; max-height: 100%;">
       <br>
      Movie : {{i.Title}}  <br> Released : {{i.Year}} <br>
      <button style="margin-left: -13px;" mat-button color="primary" (click)="getMovie(i.imdbID)">Complete info</button>
      </h3>
    </mat-card>
     </mat-grid-tile>
   </ng-container>
 </mat-grid-list>
 </ng-container>



 <ng-container *ngIf="! Dlist" >

  <ng-container *ngFor="let i of Mdata">
    <mat-card>
      <img src = {{i.Poster}} style="width: 30%;">
      <p> <span style="font-weight: 900;">Movie Name : </span> {{i.Title}}</p>
      <p> <span style="font-weight: 900;">Released on : </span> {{i.Released}}</p>
      <p> <span style="font-weight: 900;">Runtime : </span> {{i.Runtime}}</p>
      <p> <span style="font-weight: 900;">Genre : </span> {{i.Genre}}</p>
      <p> <span style="font-weight: 900;">Director : </span> {{i.Director}}</p>
      <p> <span style="font-weight: 900;">Writer : </span> {{i.Writer}}</p>
      <p> <span style="font-weight: 900;">Actors : </span> {{i.Actors}}</p>
      <p> <span style="font-weight: 900;">Plot : </span> {{i.Plot}}</p>
      <p> <span style="font-weight: 900;">Language : </span> {{i.Language}}</p>
      <p> <span style="font-weight: 900;">Country : </span> {{i.Country}}</p>
      <p> <span style="font-weight: 900;">Awards : </span> {{i.Awards}}</p>
      <p> <span style="font-weight: 900;">IMDB Rating : </span> {{i.imdbRating}}</p>
      <a  style="text-decoration: none;" target="_blank"  href="https://www.imdb.com/title/{{i.imdbID}}" >View in IMDB</a>
    </mat-card>

  </ng-container>

  </ng-container>



</div>


<div class="mob">


  <div style="margin-left: 20px;" class="example-button-row">

    <mat-form-field class="example-form-field">
      <mat-label>Movie Name </mat-label>
      <input matInput type="text" [(ngModel)]="word">
      <button mat-button *ngIf="word" matSuffix mat-icon-button aria-label="Clear" (click)="word=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
&nbsp;&nbsp;&nbsp;
    <button mat-flat-button color="primary" (click)="getMovieList()">Search</button>
</div>


<ng-container *ngIf="emp" style="background-color: white;">
  <br><br><br><br><br><br><br><br><br>
    <h3 style="text-align: center; font-weight: 800; color: red;">No Movies Found </h3>
    <br><br><br><br><br><br>
  </ng-container>

  <ng-container *ngIf="Dlist">
    <!-- <mat-grid-list cols="1" rowHeight="1:2"> -->
     <ng-container *ngFor="let i of MovieList">
      <br>
       <!-- <mat-grid-tile> -->
         <mat-card>
        <h3>

         <img src = {{i.Poster}} style="width: 100%;">
         <br>
        Movie : {{i.Title}}  <br> Released : {{i.Year}} <br>
        <button style="margin-left: -13px;" mat-button color="primary" (click)="getMovie(i.imdbID)">Complete info</button>

        </h3>
      </mat-card>
       <!-- </mat-grid-tile> -->
     </ng-container>
   <!-- </mat-grid-list> -->
   </ng-container>



   <ng-container *ngIf="! Dlist" >

    <ng-container *ngFor="let i of Mdata">
      <mat-card>
        <img src = {{i.Poster}} style="width: 100%;">
        <p> <span style="font-weight: 900;">Movie Name : </span> {{i.Title}}</p>
        <p> <span style="font-weight: 900;">Released on : </span> {{i.Released}}</p>
        <p> <span style="font-weight: 900;">Runtime : </span> {{i.Runtime}}</p>
        <p> <span style="font-weight: 900;">Genre : </span> {{i.Genre}}</p>
        <p> <span style="font-weight: 900;">Director : </span> {{i.Director}}</p>
        <p> <span style="font-weight: 900;">Writer : </span> {{i.Writer}}</p>
        <p> <span style="font-weight: 900;">Actors : </span> {{i.Actors}}</p>
        <p> <span style="font-weight: 900;">Plot : </span> {{i.Plot}}</p>
        <p> <span style="font-weight: 900;">Language : </span> {{i.Language}}</p>
        <p> <span style="font-weight: 900;">Country : </span> {{i.Country}}</p>
        <p> <span style="font-weight: 900;">Awards : </span> {{i.Awards}}</p>
        <p> <span style="font-weight: 900;">IMDB Rating : </span> {{i.imdbRating}}</p>
        <a  style="text-decoration: none;" target="_blank"  href="https://www.imdb.com/title/{{i.imdbID}}" >View in IMDB</a>
      </mat-card>

    </ng-container>

    </ng-container>



</div>






<div class="tab">





  <div style="margin-left: 40px;" class="example-button-row">

    <mat-form-field class="example-form-field">
      <mat-label>Movie Name </mat-label>
      <input matInput type="text" [(ngModel)]="word">
      <button mat-button *ngIf="word" matSuffix mat-icon-button aria-label="Clear" (click)="word=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
&nbsp;&nbsp;&nbsp;
    <button mat-flat-button color="primary" (click)="getMovieList()">Search</button>
</div>


<ng-container *ngIf="emp">
  <br><br><br><br><br><br><br><br><br>
    <h3 style="text-align: center; font-weight: 800; color: red;">No Movies Found </h3>
    <br><br><br><br><br><br>
  </ng-container>


<ng-container *ngIf="Dlist">
  <mat-grid-list cols="2" rowHeight="3:4.5">
   <ng-container *ngFor="let i of MovieList">
     <mat-grid-tile>
       <mat-card>
      <h3>
       <img src = {{i.Poster}} style="width: 100%; max-height: 100%;">
       <br>
      Movie : {{i.Title}}  <br> Released : {{i.Year}} <br>
      <button style="margin-left: -13px;" mat-button color="primary" (click)="getMovie(i.imdbID)">Complete info</button>
      </h3>
    </mat-card>
     </mat-grid-tile>
   </ng-container>
 </mat-grid-list>
 </ng-container>



 <ng-container *ngIf="! Dlist" >

  <ng-container *ngFor="let i of Mdata">
    <mat-card>
      <img src = {{i.Poster}} style="width: 30%;">
      <p> <span style="font-weight: 900;">Movie Name : </span> {{i.Title}}</p>
      <p> <span style="font-weight: 900;">Released on : </span> {{i.Released}}</p>
      <p> <span style="font-weight: 900;">Runtime : </span> {{i.Runtime}}</p>
      <p> <span style="font-weight: 900;">Genre : </span> {{i.Genre}}</p>
      <p> <span style="font-weight: 900;">Director : </span> {{i.Director}}</p>
      <p> <span style="font-weight: 900;">Writer : </span> {{i.Writer}}</p>
      <p> <span style="font-weight: 900;">Actors : </span> {{i.Actors}}</p>
      <p> <span style="font-weight: 900;">Plot : </span> {{i.Plot}}</p>
      <p> <span style="font-weight: 900;">Language : </span> {{i.Language}}</p>
      <p> <span style="font-weight: 900;">Country : </span> {{i.Country}}</p>
      <p> <span style="font-weight: 900;">Awards : </span> {{i.Awards}}</p>
      <p> <span style="font-weight: 900;">IMDB Rating : </span> {{i.imdbRating}}</p>
      <a  style="text-decoration: none;" target="_blank"  href="https://www.imdb.com/title/{{i.imdbID}}" >View in IMDB</a>
    </mat-card>

  </ng-container>

  </ng-container>



</div>











</div>






<br><br><br><br><br><br>
<app-practise-footer></app-practise-footer>
