<app-practise-home></app-practise-home>




<div class="con">



<ng-container *ngFor="let i of news">

  <mat-card>
    <img src = {{i.urlToImage}} style="width: 40%;">
    <p style="font-weight: 800;"> {{i.title}}</p>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  {{i.description}} <a target="_blank"  href={{i.url}}>read more</a>

  <p style="color: red; float: right; font-size: small;">Source : {{i.source.name}} <br>{{i.publishedAt}} </p>
  <!-- <br> -->
  <!-- <p style="color: red; float: right; font-size: small;">Published : {{i.publishedAt}}</p> -->
  <br>  <br>
  </mat-card>
  <!-- <mat-card>   {{i.description}} </mat-card> -->

<br>
</ng-container>

</div>

<app-practise-footer></app-practise-footer>
