
<div class="container">

  <br>  <br>  <br>

  <form class="example-form">

  <mat-form-field class="example-form-field" style=" margin:auto;  display:block;">
    <mat-label>Old Password</mat-label>
    <input name="oldPass" [(ngModel)]="oldPass" matInput [type]="ahide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="ahide = !ahide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="ahide">
      <mat-icon>{{ahide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

  </mat-form-field>

  <mat-form-field class="example-form-field" style=" margin:auto;

  display:block;">



    <mat-label>New Password</mat-label>
    <input name="newPass" [(ngModel)]="newPass" matInput [type]="bhide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="bhide = !bhide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="bhide">
      <mat-icon>{{bhide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

  </mat-form-field>


  <mat-form-field class="example-form-field" style=" margin:auto;

  display:block;">



    <mat-label>Confirm New Password</mat-label>
    <input name="conPass" [(ngModel)]="conPass" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

  </mat-form-field>





  <button style=" margin:auto;
  display:block;" (click)="changePass()" mat-raised-button color="primary">Change

</button>

</form>
</div>
