
<app-practise-home></app-practise-home>
<div><br></div>
<div  class = "bod"  style="background-color: rgb(248, 245, 245); text-align: center; ">
<h3 style="color: black; font-weight: bold;" >Covid-19 Tracker </h3>
<h3 style="color: black; font-weight: bold;" >Stay Home ! Stay Safe ! </h3>

</div>
<div class="example-header">
   &nbsp; &nbsp; &nbsp; <mat-form-field>

      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Country Name">
    </mat-form-field>
  </div>
  <div class="bod">
    <div class="scrollmenu" >
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef > Country </th>
    <td mat-cell *matCellDef="let element"> {{element.e}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cases">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cases </th>
    <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="todayCases">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Today Cases </th>
    <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="deaths" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Death </th>
    <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
  </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="todayDeaths">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Today Death </th>
      <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
    </ng-container>
      <!-- Symbol Column -->
  <ng-container matColumnDef="recovered">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recovered </th>
    <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
  </ng-container>


      <!-- Symbol Column -->
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
  </ng-container>


      <!-- Symbol Column -->
  <ng-container matColumnDef="casesPerOneMillion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases/1M </th>
    <td mat-cell *matCellDef="let element"> {{element.casesPerOneMillion}} </td>
  </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="deathsPerOneMillion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deaths/1M </th>
      <td mat-cell *matCellDef="let element"> {{element.deathsPerOneMillion}} </td>
    </ng-container>

      <!-- Symbol Column -->
  <ng-container matColumnDef="tests">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Tests </th>
    <td mat-cell *matCellDef="let element"> {{element.tests}} </td>
  </ng-container>





  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


</div></div>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
<!-- <div class="bod" style="background-color: black; text-align: center; ">
<h3 >Designed By Makesh</h3>
</div> -->

<div  class = "bod"  style="background-color: rgb(248, 245, 245); text-align: center; ">

  <h3 style="color: black; font-weight: bold;" >Last Updated : {{tim | date:'dd/MM/yyyy h:mm:ss a' }} </h3>
  </div>

<!-- <app-demo-footer></app-demo-footer> -->
<app-practise-footer></app-practise-footer>
